@page "/counter"

<h1>Calculator</h1>
<input id="number1"/>
<br />
<input id="number2"/>
<select>
    <option>+</option>
    <option>-</option>
    <option>*</option>
    <option>/</option>
    <option>%</option>
</select>
<p id="result">@result</p>
<button id="calculate-button" class="btn btn-primary" @onclick="DisplayCalculation">Calculate</button>

@code {
    string result;
    private void DisplayCalculation()
    {
        result = (Calculate(2, 3, (a, b) => a+b)).ToString();
    }

    private decimal Calculate(decimal a, decimal b, Func<decimal, decimal, decimal> binaryOperation)
    {
        return binaryOperation(a, b);
    }
}
